.about {
  display: grid;
  grid-template-columns: 50% 50%;
  /* border: 1px solid gray; */
  margin: 30px 40px;
  padding: 20px 40px;
  line-height: 2;
}

.skills-grid {
    color: rgb(93, 93, 93);
    text-align: end;
    border-right: 1px solid gray;
    padding: 16px 40px 0px 0px;
    border-bottom: 1px;
}

.about .skills-grid h4 {
  font-size: large;
}

.about-grid {
    background-color: transparent;
    padding-left: 40px;
}

.about h2 {
    font-size: 30px;
    border-bottom: 1px solid gray;
    width: 9rem;
}

.about h2 span {
  font-style: italic;
  color: rgb(93, 93, 93);
}

.about p {
  color: rgb(113, 113, 113);
  margin: 20px 0px;
}

.about span {
  color: black;
  font-weight: 600;
}
